.DS_Store
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
fraggler-mac310-venv/
fraggler-win-venv/

# PyInstaller Outputs
build/
dist/
packaging/build/
packaging/dist/

# Heavy Local Garbage
Gamle filer/
backups/
brain/
data/

# Version Control
.git/
